body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
  color: #94610f;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 2px 3px 4px #63d3f3;
  margin-top: 70px;
}

.img_div {
  display: flex;
  justify-content: center;
}

.img_div img {
  width: 250px;
  height: 300px;
}